<div class="section p-3">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="carAddForm" (ngSubmit)="add()">

        <div class="form-group">
          <label class="form-control-label" for="name">Car Name</label>
          <input type="text" class="form-control" id="name" formControlName="name"
            [ngClass]="{'is-invalid':f.name.invalid,'is-valid':f.name.valid }"/>
          <div class="invalid-feedback">
            <span *ngIf="f.name.hasError('required')">Car name is required</span>
            <span *ngIf="f.name.hasError('minlength')">Car name must be at least 2 characters</span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="brandId">Brand</label>
          <select class="form-control" formControlName="brandId" id="brandId" name="brandId"
          [ngClass]="{'is-invalid':f.brandId.invalid,'is-valid':f.brandId.valid }">
            <option value="" disabled>Choose a brand</option>
            <option *ngFor="let brand of brands" [value]="brand.id">
              {{ brand.name }}
            </option>
          </select>
          <div class="invalid-feedback">
            <span *ngIf="f.brandId.hasError('required')">Brand is required</span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="colorId">Color</label>
          <select class="form-control" formControlName="colorId" id="colorId" name="colorId"
          [ngClass]="{'is-invalid':f.colorId.invalid,'is-valid':f.colorId.valid }">
            <option value="" disabled>Choose a color</option>
            <option *ngFor="let color of colors" [value]="color.id">
              {{ color.name }}
            </option>
          </select>
          <div class="invalid-feedback">
            <span class="text-danger" *ngIf="f.colorId.hasError('required')">Color is required</span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="modelYear">Model Year</label>
          <input type="text" class="form-control" id="modelYear" formControlName="modelYear"
            [ngClass]="{'is-invalid':f.modelYear.invalid,'is-valid':f.modelYear.valid }"/>
          <div class="invalid-feedback">
            <span *ngIf="f.modelYear.hasError('required')">Model year is required</span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="dailyPrice">Daily Price</label>
          <input type="text" class="form-control" id="dailyPrice" formControlName="dailyPrice"
            [ngClass]="{'is-invalid':f.dailyPrice.invalid,'is-valid':f.dailyPrice.valid }"/>
          <div class="invalid-feedback">
            <span *ngIf="f.dailyPrice.hasError('required')">Daily Price is required</span>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="description">Description</label>
          <input type="text" class="form-control" id="description" formControlName="description"
            [ngClass]="{'is-invalid':f.description.invalid,'is-valid':f.description.valid }"/>
          <div class="invalid-feedback">
            <span *ngIf="f.description.hasError('required')">Description is required</span>
          </div>
        </div>


        <button type="submit" class="btn btn-primary" [disabled]="!carAddForm.valid">Submit</button>

        <h6>{{ carAddForm.value | json }}</h6>
        <h6>{{ carAddForm.status | json }}</h6>
      </form>
    </div>
  </div>
</div>
