<div class="row p-3">
  <div class="col-12">
    <button
      type="button"
      routerLink="/carAdd"
      class="btn btn-outline-success btn-sm badge-pill mr-2">
      <i class="fa fa-plus mr-1"></i>Add Car
    </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Car Name</th>
          <th scope="col">Model Year</th>
          <th scope="col">Daily Price</th>
          <th scope="col">Settings</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars" class="table-active">
          <td>{{ car.id }}</td>
          <td>{{ car.name }}</td>
          <td>{{ car.modelYear }}</td>
          <td>{{ car.dailyPrice }}</td>
          <td>
            <button
              type="button"
              routerLink="/carDetail/{{ car.id }}"
              class="btn btn-outline-info btn-sm badge-pill mr-2"
            >
              <i class="fa fa-info mr-1"></i>Detail
            </button>
            <button
              type="button"
              class="btn btn-outline-warning btn-sm badge-pill mr-2"
            >
              <i class="fa fa-pencil mr-1"></i>Edit
            </button>
            <button
              type="button"
              class="btn btn-outline-danger btn-sm badge-pill mr-2"
            >
              <i class="fa fa-trash mr-1"></i>Detail
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
